html, body {
  height: 100%;
  margin: 0;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;

}


.container {
  height: auto;
}

.optionContainer {
  margin: 100px 0;
  display: flex;
  gap: 50px;
}

.optionContainer img, .optionContainer button {
  border-radius: 50%;
}

.optionContainer button {
  border: none;
  background: transparent;
}

.optionContainer button:hover{
  background-color: pink;
}



.result {
  text-align: center;
  
}



.score {
  text-align: left;
}


.resetContainer {
  text-align: center;
}

.resetButton{
  visibility: hidden;
  padding: 20px;
  border-radius: 10px;
  border: 1px none;
  background-color: blue;
  color: white;
}


